<section class="projects container" id="projects">
    <h2 class="projects__title">Projects</h2>
    <drag-scroll #drag >
        <div drag-scroll-item class="projects__card" (click)="redirecTo('blog')">
            <img src="../../../../assets/images/blog.png" alt="">
            <p>Web development</p>
            <h3>Full-Detailed Blog App</h3>
        </div>
        <div drag-scroll-item class="projects__card" (click)="redirecTo('emaliye')">
            <img src="../../../../assets/images/emaliye.png" alt="">
            <p>Web App</p>
            <h3>eMaliye</h3>
        </div>
        <div drag-scroll-item class="projects__card" (click)="redirecTo('fiyattakip')">
            <img src="../../../../assets/images/fiyattakip.png" alt="">
            <p>Web App</p>
            <h3>fiyattakip</h3>
        </div>
        <div drag-scroll-item class="projects__card" (click)="redirecTo('otelfiyat')">
            <img src="../../../../assets/images/otel_fiyat_screen.png" alt="">
            <p>Web development</p>
            <h3>Otel Fiyat</h3>
        </div>
        <div drag-scroll-item class="projects__card" (click)="redirecTo('ytportfolio')">
            <img src="../../../../assets/images/ytportfolio.png" alt="">
            <p>Web Application</p>
            <h3>Manageable Portfolio</h3>
        </div>
        <div drag-scroll-item class="projects__card" (click)="redirecTo('speedmeeting')">
            <img src="../../../../assets/images/speedmeeting.png" alt="">
            <p>Web development</p>
            <h3>Speed Meeting</h3>
        </div>
        <div drag-scroll-item class="projects__card" (click)="redirecTo('masterfx')">
            <img src="../../../../assets/images/masterfx.png" alt="">
            <p>Web development</p>
            <h3>MasterFX</h3>
        </div>
        <div drag-scroll-item class="projects__card" (click)="redirecTo('chatapp')">
            <img src="../../../../assets/images/chatapp.png" alt="">
            <p>Web development</p>
            <h3>Chat APP</h3>
        </div>
        <div drag-scroll-item class="projects__card" (click)="redirecTo('bussinesbook')">
            <img src="../../../../assets/images/bussinesbook.png" alt="">
            <p>Web development</p>
            <h3>BB-BussinesBook</h3>
        </div>
      </drag-scroll>
</section>