<section class="about" id="about">
    <h2 class="about__title">About me</h2>
    <div class="about__content">
        <div class="about__column-left">
        </div>
        <div class="about__column-right">
            <div class="about__column-right-content">
                <p>
                    Hello, my name is Oğuzhan and I'm a
                    <span class="about__column-right-title">Full Stack Developer</span>
                </p>
                <p>
                    I have been dealing with software since I was 12 years old. I am a Web graduate of Sultangazi
                    Vocational and Technical Anatolian High School, Department of Informatics. I am currently working as
                    a Full Stack Developer. I mainly develop web projects on topics that interest me in the Finance
                    Sector, but many fields such as Mekatroink attract my attention and I am excited to learn. I don't
                    care much for Framework or libraries. I adapt quickly.
                    Communicating, listening and working as a team are skills learned daily and I love that. I am very
                    happy to be a part of the IT world and look forward to collaborating with everything I have learned
                    this time and continuing to learn every day.
                </p>
                <div class="about__btns">
                    <a pageScroll [pageScrollDuration]="10" href="#contact" class="button">Send Message</a>
                    <a target="_blank" href="../../../../assets/CV_Oguzhan_Cart.pdf" download
                        class="button"> Get Resume</a>
                </div>
            </div>
        </div>
    </div>
</section>