
  <section class="home container" id="home">
    <div class="home__content">
      <div class="text-1">Hello, my name is</div>
      <div class="text-2">Oğuzhan ÇART</div>
      <div class="text-3">
        <p>And I'm a</p>
        <span class="typing">Full Stack Developer</span>
      </div>
      <div class="home__btns">
        <a pageScroll [pageScrollDuration]="10" href="#contact" class="button">Send Message</a>
        <a target="_blank" href="../../../../assets/CV_Oguzhan_Cart.pdf" download rel="noopener noreferr" class="button">Get Resume</a>
      </div>
    </div>
  </section>