<hr />
<footer class="footer__container container" id="footer">
  <div class="footer__rights">
    <p>© {{dateVal | date: 'y'}} ♥︎ Oğuzhan ÇART - All Rights Reserved</p>
  </div>
  <div class="footer__social">
    <a href="{{ intagramLink }}" target="_blank">
      <img
        src="../../../../assets/icons/instagram.svg"
        class="footer__social-img"
      />
    </a>
    <a href="{{ linkedinLink }}" target="_blank">
      <img
        src="../../../../assets/icons/linkedin.svg"
        class="footer__social-img"
      />
    </a>
    <a href="{{GithubLink}}" target="_blank">
      <img
        src="../../../../assets/icons/github.webp"
        class="footer__social-img"
      />
    </a>
  </div>
</footer>