@import "/src/styles.scss";

hr {
  margin-top: 150px;
  width: 90%;
}

.footer {
  &__container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    @include breakpoint-down(large) {
        flex-direction: column;
      }
  }
  &__rights {
    color: $color-secondary;
    font-size: $small-font-size;
    margin: 25px 0;
  }
  
  &__social {
    display: flex;
    align-items: center;
    margin: 25px 0;
    a{
        cursor: pointer;
    }
    &-img {
      width: 25px;
      height: 25px;
      margin: 0 5px;
    }
  }
}
